# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directories
dist
build

# Ignore environment variables file
.env

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore any other files or directories that should not be included in the Docker image
.git
.vscode
.idea
*.iml
